<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Cadastrar Usuário</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form
    [formGroup]="UserForm"
    (ngSubmit)="submitUserForm()"
    #resetUserForm="ngForm"
    novalidate
  >
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="firstName" />
          <mat-error *ngIf="handleError('firstName', 'required')">
            Esse campo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            [email]="true"
            formControlName="emailAddress"
          />
          <mat-error *ngIf="handleError('emailAddress', 'required')">
            Esse campo é obrigatório.
          </mat-error>
          <mat-error *ngIf="handleError('emailAddress', 'email')">
            Preencha um Email válido!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nivel de Escolaridade</mat-label>
          <mat-select
            [(ngModel)]="selectedValue"
            name="educationLevel"
            formControlName="educationLevel"
          >
            <mat-option *ngFor="let item of educationLevels" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('educationLevel', 'required')">
            Selecione seu nível de escolaridade.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <mat-form-field>
          <input matInput placeholder="Sobrenome" formControlName="lastName" />
          <mat-error *ngIf="handleError('lastName', 'required')">
            Esse campo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            readonly
            [matDatepicker]="picker"
            placeholder="Data de Nascimento"
            formControlName="birthDate"
            (dateChange)="formatDate($event)"
            [max]="maxDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('birthDate', 'required')">
            Esse campo é obrigatório.
          </mat-error>
          <mat-error *ngIf="handleError('birthDate', 'incorrect')">
            Infelizmente ainda não aceitamos cadastros futuros, por favor
            utilize uma data de nascimento menor do que a data de hoje.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-raised-button color="primary" type="submit">Salvar</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
